div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px
}

.flag{
	color: red;
}

.safe{
	color: lightskyblue;
}

p{
	font-size: 1.25rem;
}
