#div-bomb{
    padding: 1px
}

img{
    max-width:100%;
    max-height:100%;
}


.cell{
    background-color: #FFFFFF
}

.cell-clicked{
    background-color: lightskyblue
}

.cell-flagged{
    background-color: red
}